<tr>
	<td><%= task.content %></td>
	<td><%= task.state %></td>
	<td><%= link_to 'Show', task %></td>
	<td><%= link_to 'Edit', edit_task_path(task) %></td>
	<td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		<% if task.state == "doing" %>
		<td><%= link_to "Mark as To Do", change_task_path(task, state: "to_do"), method: :put %></td>
		<td><%= link_to "Mark as Done", change_task_path(task, state: "done"), method: :put %></td>
		<% else %>
		<td><%= link_to "Mark as Doing", change_task_path(task, state: "doing"), method: :put %></td>
		<% end %>


</tr>